<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tomclaw.drawa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".main.App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".stock.StockActivity"
            android:label="@string/app_name">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity
            android:name=".draw.DrawActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".share.ShareActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".info.InfoActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".play.PlayActivity"
            android:label="@string/app_name"
            android:theme="@style/PlayTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.tomclaw.drawa"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />

        </provider>

    </application>

</manifest>
